<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
   <link rel="stylesheet" href="../css/translated.css">
</head>
<body>

     <header>
        <div class="head">
            <h1>Asesoria </h1>
     </header>

     <!--Menu-offcanvas-->

    <button class="btn btn-primary btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">INICIO</button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Menu de Inicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        
    <nav>
      <ul class="menu">
        <li class="menu__item">
            <a class="menu__link" href="../index.html">
                    Home
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="colorimetria.html">
                    Colorimetria
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="informacion.html">
                    Informacion
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="contacto.html">
                    Contacto
            </a>
        </li>
     
    </ul>
     </nav>
      </div>
    </div>

        <!--Articulo-->
      <article id="art">
        <picture>
            <img src="../IMG/accesoriso.jpg" alt="mujer de perfil con camisa rayada">
        </picture>
        <p class="art__parrafo">
          
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis exercitationem tempora laborum non tenetur, rerum incidunt dolorem labore accusamus, aspernatur voluptate officia corrupti reprehenderit nesciunt, fugit facere? Nisi, impedit.
            Reiciendis maiores ipsum vel dolorum repellendus dolore exercitationem amet id, molestiae est quaerat sit, tempore quae libero sed incidunt repellat, sint nobis omnis! Nam minima enim corrupti tempora obcaecati tempore?
            Quisquam, ab totam. Debitis repellendus distinctio, sed non ducimus consequuntur optio adipisci at sapiente ad aperiam soluta facilis necessitatibus, ratione veritatis pariatur laudantium excepturi veniam impedit consequatur modi doloremque! Aut.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, illo accusantium fugiat reprehenderit quibusdam eveniet deserunt officia sapiente dolorum perferendis voluptates consequuntur temporibus ullam voluptate, impedit, vitae laboriosam unde dolor!
            Dolorum delectus minima quaerat placeat maxime voluptatum libero fugit repellendus excepturi debitis modi temporibus incidunt possimus et perspiciatis odit labore aut, reiciendis aperiam iste quod. Quod distinctio veniam et velit.
            Vel officia non ullam temporibus sint ipsa. At molestiae architecto quia, iusto, adipisci, a facere id itaque numquam nisi est error labore perferendis? Iure, est ea. Inventore eum necessitatibus vitae.
            Laudantium repellat ratione fuga modi mollitia. Ipsum illo similique aspernatur est, cupiditate soluta? Labore quia corporis dolorum harum enim laboriosam, asperiores quisquam quos nisi culpa ipsa sapiente sequi voluptatibus aspernatur.
            Consequuntur maxime provident eos nam quibusdam quasi voluptatum beatae necessitatibus laborum commodi quod molestias laudantium tempore, nulla, soluta perspiciatis blanditiis culpa! Necessitatibus est facilis alias! Debitis suscipit nesciunt hic atque.
        </p>
      </article>
      <aside class="aside">
        <p class="aside__parrafo">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolor perspiciatis blanditiis similique dolore nobis distinctio ducimus magnam officia, laboriosam accusamus in tempora cum sapiente tempore corporis minus? Provident, voluptatum?
          Dolore quidem totam, vitae asperiores dignissimos rem molestias sed cumque odit blanditiis praesentium iure at recusandae unde aut autem enim! Fugit, cupiditate placeat. Ut consequuntur quos, laudantium eum provident voluptas.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit repellendus at quibusdam unde iste sapiente ut quas ad ex laudantium, accusantium temporibus voluptatum optio? Similique delectus quae atque non voluptatum!
          Nisi saepe soluta esse doloremque fugit iusto perferendis quibusdam hic! Necessitatibus iure ducimus nihil ullam suscipit enim cupiditate illo omnis, sunt facilis praesentium dolorem eos! Repellendus architecto aperiam assumenda accusantium!
          Aperiam distinctio quia dicta cumque perferendis ea aut magnam error nihil voluptates. Quos quasi vel, ea aperiam cum at neque in numquam asperiores dolorum aut labore sed, quisquam officiis reprehenderit.
          Qui ea, reiciendis expedita nam distinctio sapiente repellendus delectus aut? Alias dolorum magni exercitationem asperiores porro maiores, explicabo nam, officiis quibusdam mollitia numquam quo velit, neque saepe omnis id doloremque.
        </p>
      </aside>
    <!--Footer-->
<footer id="fot">
    Todos los derechos resevados 2022 
    <a href="https://whatsapp.com" class="redes">Whatsapp <img class="icon" src="../IMG/Icon/what.png" alt="logo de whatsapp"></a>
    <a href="https://facebook.com" class="redes">Facebook <img class="icon" src="../IMG/Icon/facebook.png" alt="logo de facebook></a>
    <a href="https://instagram.com" class="redes">Instagram <img class="icon" src="../IMG/Icon/insta.png" alt="logo de instagram"></a>
  </footer>
    <!--script-Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   
</body>
</html>