<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
       <div class="head">
           <h1>Colorimetria</h1>
    </header>

    <!--Menu-offcanvas-->

   <button class="btn btn-primary btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">INICIO</button>

   <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
     <div class="offcanvas-header">
       <h5 class="offcanvas-title" id="offcanvasBottomLabel">Menu de Inicio</h5>
       <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body small">
       
   <nav>
     <ul class="menu">
       <li class="menu__item">
           <a class="menu__link" href="../index.html">
                   Home
           </a>
       </li>
       <li class="menu__item">
           <a class="menu__link" href="asesoria.html">
                  Asesoria
           </a>
       </li>
       <li class="menu__item">
           <a class="menu__link" href="informacion.html">
                   Informacion
           </a>
       </li>
       <li class="menu__item">
           <a class="menu__link" href="contacto.html">
                   Contacto
           </a>
       </li>
    
   </ul>
    </nav>
     </div>
    </div>
</section>
<main class="grid">
    <p class="art__parrafo1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut obcaecati, enim quis hic nobis fugiat ipsam aliquam velit quia cumque, voluptates explicabo? Aliquam porro cum quidem similique sunt numquam.
        Unde vero, quas esse natus cumque in ipsum id ea quia, dolor repudiandae totam beatae ut dolorem ad atque, modi dolorum non facere voluptate eligendi veniam provident. Iure, eveniet vitae.
            Sed facilis repellendus assumenda, eligendi, labore ullam ipsa nobis ut perspiciatis maxime, cumque laborum cum iure enim animi veritatis. Dolore qui aut temporibus, ad ipsa similique tempora deleniti fugit quis.
        </p>

        <img class="img1" src="../IMG/colorimetria-1.jpg" alt="montañas"> 
    <img class="img2" src="../IMG/colorimetria-3.jpg" alt="ciudad con globos perspectiva">
    
    
  
    <p class="art__parrafo2">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum numquam ullam recusandae aliquid vitae tempore delectus sed quisquam labore saepe, maiores iure incidunt itaque soluta natus. Magni commodi quis cumque.
        Ipsam, corrupti sint. Odio animi dolorum saepe alias veniam possimus totam cum dolore, reiciendis itaque impedit, illo praesentium vero. Est reprehenderit sunt qui ducimus eum? Consectetur fugiat recusandae similique. Totam?
        Nobis officiis cupiditate repellat cum laborum excepturi facilis accusamus ipsam deleniti, suscipit ratione, delectus alias vero tempora quam ex iste in expedita dignissimos quo sit quas, magnam ipsum. Voluptatum, aut!
    </p>
</main>
<footer id="fot">
    Todos los derechos resevados 2022 
    <a href="https://whatsapp.com" class="redes">Whatsapp <img class="icon" src="../IMG/Icon/what.png" alt="logo de whatsapp"></a>
    <a href="https://facebook.com" class="redes">Facebook <img class="icon" src="../IMG/Icon/facebook.png" alt="logo de facebook"></a>
    <a href="https://instagram.com" class="redes">Instagram <img class="icon" src="../IMG/Icon/insta.png" alt="logo de instagram"></a>
  </footer>
    <!--script-Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>