<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header id="container" >
        <h1 class="title">Colorimetria</h1>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">MENU
        </button>
        
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">JAV</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <p class="legend-nav">Viví una experiencia de transformacion.</p>
          <div class="offcanvas-body">
            <main >
              <ul class="menu">
                  <li class="menu__item">
                      <a class="menu__link" href="../index.html">Inicio</a>
                  </li> 
                  <li class="menu__item">
                      <a class="menu__link" href="asesoria.html">
                              Asesoria
                      </a>
                  </li>
                  <li class="menu__item">
                      <a class="menu__link" href="informacion.html">
                              Informacion
                      </a>
                  </li>
                  <li class="menu__item">
                      <a class="menu__link" href="contacto.html">
                              Contacto
                      </a>
                  </li>
               
              </ul>
            </main>
          </div>
        </div>
    </header>
</section>
<section id="colorimetria">
    <div class="div1">
        <p class="div1__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing eit. Perferendis sit unde laboriosam reprehenderit. Eius nesciunt suscipit minima obcaecati voluptates ipsa, iste doloremque necessitatibus, soluta, dignissimos nobis at ea ut temporibus?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique mollitia architecto dolorem velit rem, animi facilis enim exercitationem assumenda, quos corporis ullam expedita suscipit iusto alias nisi modi fuga! Delectus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel distinctio officiis voluptatibus aliquid! Odio aspernatur architecto adipisci molestiae voluptates beatae illum minus rem iste modi dolorum itaque, porro tempore accusantium?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur asperiores error magnam sed, nemo praesentium illo repellat iure labore accusantium libero maiores in assumenda animi omnis accusamus esse ipsa minima.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque enim consequatur rem alias illum, veritatis laborum quasi distinctio. Reprehenderit eius nam iure placeat fugiat ea, necessitatibus magni dolor eveniet nisi?
        </p>
    </div>
    <img class="img__img" src="../IMG/colorimetria-1.jpg" alt="">
    <img class="img__img1" src="../IMG/colorimetria-2.jpg" alt="">
    <img class="img__img2" src="../IMG/colorimetria-3.jpg" alt="">
    
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, eligendi ipsum blanditiis commodi omnis nobis maxime earum, rem inventore sequi voluptatum magni necessitatibus voluptatibus numquam? Et, perspiciatis. Modi, omnis rerum.
            Voluptatem molestias at accusamus animi, quo ad sapiente dignissimos laborum quis dolorum rem quam ex sint nostrum iusto! Accusamus sapiente magnam sit ab vero eius ducimus aliquam at, omnis voluptatum?
            Ratione quia tempore, laudantium porro facere omnis nobis fugit mollitia quibusdam et voluptas est eius officiis aspernatur similique molestias tenetur non ex dolore illum magni? Aliquid autem ea nobis deleniti.
        </p>
  
</section>
    <footer>
        Todos los derechos resevados 2022 
        <a href="https://whatsapp.com" class="redes">Whatsapp <img class="icon" src="../IMG/Icon/what.png" alt=""></a>
        <a href="https://facebook.com" class="redes">Facebook <img class="icon" src="../IMG/Icon/facebook.png" alt=""></a>
        <a href="https://instagram.com" class="redes">Instagram <img class="icon" src="../IMG/Icon/insta.png" alt=""></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>