<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="contacto con asesor/a de imagen personal">
    <meta name="keywords" content="asesoria, imagen, cuidado personal, contacto , redes sociales, telefono">
    <title>JAV | contacto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
      <header>
        <div class="head">
          <a href="#"> <img src="../IMG/logojav.png" alt="" class="logo"></a>
            <h1>Contacto </h1>
            <div class="shop"><img src="../IMG/Icon/carrito.png" alt=""></div>
     </header>

   <!--Menu-offcanvas-->
   <div class="navbar navbar-espand-md">
    <div class="contaner-fluid">
        <!--boton del menu-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--elementos del menu-->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav es-auto flex-row flex-wrap">
                <li class="nav-item">
                    <a class="nav-link p-2" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link p-2"href="asesoria.html">Asesoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="colorimetria.html">Colorimetria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="informacion.html">Sobre Mi</a>
                </li>
            </ul>
          </div>
    </div>
</div>
<div class="formulario">
  <div class="sub-title">
    <h2>Contactanos</h2>
  </div>
  <img src="../IMG/Icon/contactos.png" alt="icono de telefono" class="animation">
  <form>
    <input class="contact" type="text" name="Email" id="email" placeholder="ingrese e-mail">
    <textarea class="contact" name="Mensaje" id="mensaje" cols="30" rows="5" placeholder="escriba aqui el mensaje" ></textarea>
    <input class="submit" type="submit" value="Enviar">
  
  </form>
</div>
<footer id="fot">
  <h5> Todos los derechos resevados 2022 </h5>
  <a href="https://whatsapp.com" class="redes">Whatsapp <img class="icon" src="../IMG/Icon/what.png" alt="logo de whatsapp"></a>
  <a href="https://facebook.com" class="redes">Facebook <img class="icon" src="../IMG/Icon/facebook.png" alt="logo de facebook"></a>
  <a href="https://instagram.com" class="redes">Instagram <img class="icon" src="../IMG/Icon/insta.png" alt="logo de instagram"></a>
</footer>
  <!--script-Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>