<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
        <div class="head">
            <h1>Informacion</h1>
     </header>

     <!--Menu-offcanvas-->
    <div class="navbar navbar-espand-md">
        <div class="contaner-fluid">
            <!--boton del menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!--elementos del menu-->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav es-auto flex-row flex-wrap">
                    <li class="nav-item">
                        <a class="nav-link p-2" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link p-2"href="asesoria.html">Asesoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" href="colorimetria.html">Colorimetria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2" href="contacto.html">Contacto</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    <main id="info">
        <h2 class="subtitulo">
            Informacion Sobre la asesoria Personal
        </h2>
       <article class="info">
        <p>
            ¿Qué es la asesoría personal?
            Resultado de imagen para asesoria personal
            Las asesorías personales son para quienes quieren hacerse cargo personalmente de su aspecto personal pero necesitan algo de ayuda en el proceso. El objetivo de una Asesoría Personal es guiarte y capacitarte para que tengas las mejores herramientas para que tu imagen pueda no solo cambiar, si no <span class="definirte">
                <b>DEFINIRTE</b>. 
            </span>
           <h3> ¿Qué incluye una asesoría de imagen?</h3>
        <p>
    La asesoría de imagen comprende la completa remodelación de la presencia de un sujeto, mejorando las actitudes corporales, el maquillaje (si se requiere), la fotografía propagandística, el protocolo, la propaganda involucrada, el peinado, la ornamentación, el vestuario, etc.
        </p>
    <h3>Pasos para llevar a cabo el asesoramiento </h3>
    <p>
        <ol class="lista">
            <li class="lista__item">Definir el estilo personal</li>
            <li class="lista__item">Realizar un diagnostico especializado</li>
            <li class="lista__item">Estudio del cuerpo</li>
            <li class="lista__item">Estudio del Rostro</li>
            <li class="lista__item">Propuesta de producción</li>
            <li class="lista__item">Estudio de colorimetria</li>
         </ol>
    </p>
         <img src="../IMG/paleta.jpg" alt="imagen de paleta de colores">

    </article>
    </main>
    <footer id="fot">
        Todos los derechos resevados 2022 
        <a href="https://whatsapp.com" class="redes">Whatsapp <img class="icon" src="../IMG/Icon/what.png" alt="logo de whatsapp"></a>
        <a href="https://facebook.com" class="redes">Facebook <img class="icon" src="../IMG/Icon/facebook.png" alt="logo de facebook"></a>
        <a href="https://instagram.com" class="redes">Instagram <img class="icon" src="../IMG/Icon/insta.png" alt="logo de instagram"></a>
      </footer>
        <!--script-Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>