
    .head{
        position: relative;
        text-align: center;
        margin: 3rem auto;
        h1{
            font-size: $font-principal;
            color: $secundary; 
            size: $title;
            border-bottom: 1px solid black;
       
        }
        }
    
    
