.btn-primary:not(.btn-menu){
    opacity: 50%;
}
.btn{
    color: $secundary; 
    background-color: yellow;
    border: none;
    transition: .5s;
    opacity: 60%;

    &:hover{
        color: yellow ;
        background-color:$secundary;
        opacity: 1%;
    }
}
.btn-menu{
      margin: 2rem 0 ;
      padding:1rem 2rem ;
      position: fixed;
        z-index: 3;
     
}
#offcanvasWithBothOptionsLabel{
   margin-left: 40% ;
   font-size: medium;
}
.legend-nav{
    margin-top: 1.4rem;
   padding-left: 17%;
   transition: 1s;
   font-size:small;
}

.offcanvas-body{
    background-color: rgba(0, 0, 0, 0.445);
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
        gap: 10rem;
        margin-top: 5rem;
    
    }
    nav{
        @include flex (column , none , none, center);
    .menu__item{
        list-style-type: none;
    }
    
    .menu__link{
        text-decoration: none;
        font-style: italic;
        font-size:x-large;
        margin: 20% -4%;
        color: $secundary;
        padding: 1rem;
        transition: .4s;
       
        &:hover{
            color: yellow ;
        }
    }
}
.offcanvas-header{
    
    #offcanvasBottomLabel{
        text-align: center;
        font-style: italic;
        font-size: small;
    }
}
}