*{
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
* p:not(.legend-nav){
    color: white ;
}
body{
    background-image: url(../IMG/fondoDorado.svg);
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

