<<<<<<< HEAD


             @media(max-width: 760px){
                    /*body*/
                    body{
                        width: auto;
                    }
                    /*header*/
                    header{
                        display: inline-block;
                        margin: 3rem;
                    }
                    /*menu*/
                    .navbar-espand-md{
                        width: 80px;
                        margin-left: 2rem;
                    
                    }
                    .menu-item .menu-link{
                        font-size: smaller;
                        color: black ; 
                        transition: .8s;
                        margin: 0.5rem;
                    }
                    /*home*/
                    body .shadow{
                        display: flex;
                       flex-direction: column;
                        align-items: center;
                        margin: 0 40% ;
                        .card{
                            margin-bottom: 1.5rem;
                        }
                    }
                    body .textos{
                        margin: 0 33%;
                        #card-text{
                            font-size: small;
                        }
                        #card-text1{
                            font-size: small;
                        }
                        #card-text2{
                            font-size: small;
                        }
                        p{
                            margin: 0 -72px;
                        }
                    }
                    /*asesoria*/
                    body #art picture{
                        margin-right:0;
                        img{
                            max-width: 60%;
                            margin: 1em auto;
                            margin-left: 20%;
                            margin-right: 0;
                        }
                        }
                    }
                    body .article{
                        max-width: 100%;
                        margin-right: 18%;
                        .art__parrafo{
                            max-width: 100%;
                            margin: 19px 29px;
                            margin-right: 0;
                        }
                    }
                    body .aside{
                       margin: 1rem 1.5rem;
                        .aside__parrafo{
                            padding: 2rem 1.5rem;
                        }
                    }    
                        .art__parrafo1{
                            margin:1rem;
                        }
                        .art__parrafo2{
                            margin:1rem;
                        }
                    
                        /*informacion*/
                        body{
                            #info{
                                .subtitulo{
                                    margin-right: 0;
                                    margin-top: 6rem;
                                }
                                .info{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    margin: 1rem 10%;
                                    .lista{
                                        margin: 1rem 0;
                                    }
                                    img{
                                        border-radius: 576px;
                                        margin-left: 10%;
                                        width: 250px;
                                        height: 250px;
                                    }
                                }
                            }
                        }
                        /*contacto*/
                        body{
                            .formulario{
                                margin-right: 0;
                                margin-left: 0;
                            }
                        }
                      
                        /*footer*/
                    body #fot{
                        display: flex;
                        span{
                            margin-left: 3rem;
                        }
                        a{
                            margin-left: 3rem;
                        }
                    }
                

@media (max-width: 760px){
    body { .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        img{
            width: 300px;
            height: 300px;

        }
    }
    }
}
=======
>>>>>>> master
