/* Fonts */

$font-principal: arial;
$font-secundary: Verdana, Geneva, Tahoma, sans-serif ;
$font-alternative: impact ;
/* Colors */

$primary: white ;
$secundary: black ; 
$alternative: yellow; 
$back: rgba(128, 128, 128, 0.514) ;

/* Size */

$title: 3.5rem; 
$Subtitle: 2.5rem;
$menu: 3rem ;
$article:2rem; 
$size-fot: 1.5rem; 